* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#tudo {
    min-height: 100%;
    position: relative;    
}

header {
    width: 100%;
    height: 180px;    
    border-bottom: 1px solid #ccc;    
    position: fixed;
    z-index: 1; 
    background-color: #fff; 
 }

 header img {    
    height: 130px;        
    margin: 0 auto;  
    display: block;    
    padding-top: 8px;   
} 

header p {    
    text-align: center;
    padding: 5px 0;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;      
    color: #000080;      
    margin-top: 0px;    
}

#conteudo {
    width: 100%;
    height: auto; 
    padding-bottom: 115px;   
    padding-top: 180px;     
    position: relative;  
    overflow-y: scroll;   
      
  
}

.banner {
    width: 230px;
    height: 150px;
    background-color: #F5FFFA;
    margin: 5px auto; 
    position: relative;  
    top: 10px;   
    display: flex;
    align-items: center;
    justify-content: center; 
    /* font-size: 20px; */
    font-weight: bold;
    text-decoration: underline;
    border: 1px solid #ccc;  
    border-radius: 5px;
    box-shadow: 2px 2px 10px #333;        
}

#img {
    color: #000;
    opacity: none;
}

#conteudo a {  
    align-items: center;
    text-decoration: none; 
    color: #000;       
}

.banner img {
    height: 60px;    
}

.banner p  {
    text-align: center;      
    font-size: 20px;      
}


.banner span { 
    font-size: 14px; 
    display: block;   
    margin-top: 5px;
}


#img_trans {
    width: 100%;
    height: 100%;
    background-image: url(imagens/logo_uepa_30anos.png);
    background-repeat: no-repeat;
    background-size: 140%;
    position: fixed; 
    opacity: 0.3;    
    top: 180px;
    left: 0;    
    z-index: -1;    
} 

footer {
    width: 100%;
    height: 100px;    
    position: absolute;
    bottom: 0;
    background-color: #fff;
    /* background-color: #F5FFFA; */
    border-top: 1px solid #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    text-align: center;
}





/* --------------------------------- */

@media (min-width: 600px) {

    body {
       
    }

    header {
        display: flex;  
        flex-direction: row;  
        justify-content: space-evenly;   
        align-items: center;  
        position: static;  
        margin: 0;
        padding: 0;         
    }   

    header img {
        margin: 0;
    }

    header>p {
        font-size: 40px;
    }  

    #img_trans {
        width: 100%;
        height: 100%;
        background-image: url(imagens/logo_uepa_30anos.png);
        background-repeat: no-repeat;
        background-size: 140%;
        position: fixed; 
        opacity: 0.3;    
        top: 100px; 
    } 

    #conteudo {
        margin: 5px auto;
        max-width: 90%;
        height: auto;
        /* position: static;  */
        overflow: hidden;
         /* display: flex; */
        /* justify-content: center;
        align-items: center;    */
        padding: 10px;  
        /* background-color: yellow; */
                
    }   

    .banner {
       margin: 0;
       padding: 0; 
       top: 0;
       margin-top: 10px;
       margin-right: 10px;
       margin-bottom: 10px;
       float: left;             
    }

    .banner img {
        margin-right: 15px;
    }

    footer {
        width: 100%;
        height: 100px;    
        position: static;
        /* bottom: 0; */
        background-color: #fff;
        /* background-color: #F5FFFA; */
        border-top: 1px solid #ccc; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

